<beans xmlns = "http://www.springframework.org/schema/beans"

 xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"

 xsi:schemaLocation = "http://www.springframework.org/schema/beans

 http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id = "renderer" class="com.capgemini.spring.render.MessageRenderer">
	<property name="MessageProvider" ref="provider"></property>
</bean>

<bean id = "provider" class="com.capgemini.spring.provider.HMMessageProvider">
</bean>



</beans>